<div class="banner">
  <div class="text-center mt-5">
    <app-logo></app-logo>
  </div>
  <img
    src="assets/images/zed-banner.jpg"
    alt="Banner Image"
    class="background-image"
  />
  <div class="image-mask"></div>
  <main>
    <div class="main d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column w-50">
        <p class="h1 mb-5" style="color: white">
          League of Legends Tournament by
          <span style="color: #2ab9e7">Nibo</span>
        </p>
        <p class="medium-text white-4 mb-5">
          Typically, knockout tournaments consist of teams and brackets, where
          the winners from each bracket are generated until we reach the
          ultimate winner of the tournament. Your goal is to create a system
          where it is possible to register the teams and manage the tournament
          until the final phase, where we can crown the victor. The tournament
          will be a death match between 4 teams of 5 people each.
        </p>

        <button type="button" class="bt-primary" routerLink="/tournament">
          New Tournament
        </button>
      </div>
    </div>
  </main>
</div>
