:root {
  --black-1: #000;
  --black-2: #111;
  --black-3: #222;
  --black-4: #333;
  --black-5: #444;
  --black-6: #555;
  --black-7: #666;
  --black-8: #777;
  --black-9: #888;
  --black-10: #999;
  --white-1: #fff;
  --white-2: #eee;
  --white-3: #ddd;
  --white-4: #ccc;
  --white-5: #bbb;
  --white-6: #aaa;
  --white-7: #999;
  --white-8: #888;
  --white-9: #777;
  --white-10: #666;
}

.h1 {
  font-size: 52px;
  font-weight: 500;
}

.h2 {
  font-size: 48px;
  font-weight: bold;
}

.h3 {
  font-size: 38px;
  font-weight: bold;
}

.h4 {
  font-size: 32px;
  font-weight: bold;
}

.h5 {
  font-size: 26px;
  font-weight: bold;
}

.large-text {
  font-size: 20px;
  font-weight: normal;
}

.large-text-bold {
  font-size: 20px;
  font-weight: 700;
}

.medium-text {
  font-size: 16px;
  font-weight: normal;
}

.medium-text {
  font-size: 16px;
  font-weight: normal;
}

.medium-text-bold {
  font-size: 16px;
  font-weight: bold;
}

.small-text {
  font-size: 14px;
  font-weight: normal;
}

.small-text-bold {
  font-size: 14px;
  font-weight: bold;
}

.p {
  font-size: 12px;
}

/* Estilos específicos para elementos de texto */
.black-1 {
  color: var(--black-1);
}

.black-2 {
  color: var(--black-2);
}

.black-3 {
  color: var(--black-3);
}

.black-4 {
  color: var(--black-4);
}

.black-5 {
  color: var(--black-5);
}

.black-6 {
  color: var(--black-6);
}

.black-7 {
  color: var(--black-7);
}

.black-8 {
  color: var(--black-8);
}

.black-9 {
  color: var(--black-9);
}

.black-10 {
  color: var(--black-10);
}
.white-1 {
  color: var(--white-1);
}

.white-2 {
  color: var(--white-2);
}

.white-3 {
  color: var(--white-3);
}

.white-4 {
  color: var(--white-4);
}

.white-5 {
  color: var(--white-5);
}

.white-6 {
  color: var(--white-6);
}

.white-7 {
  color: var(--white-7);
}

.white-8 {
  color: var(--white-8);
}

.white-9 {
  color: var(--white-9);
}

.white-10 {
  color: var(--white-10);
}
