<div class="container-main">
  <section class="section-controls">
    <div class="container-controls">
      <button class="bt-primary m-5" (click)="openAddTeamModal()">
        Add Team
        <i class="fa fa-plus ms-1"></i>
      </button>
      <div class="centered mb-4" *ngIf="teams_stage1.length == 4">
        <select
          class="form-select form-select me-2"
          aria-label="Select winner for Stage 1"
          id="winnerSelect"
          [(ngModel)]="selectedWinner"
          [disabled]="teams_stage2.length >= 2"
          name="winnerSelect"
        >
          <option value="" disabled selected>Select Winner for Stage 2</option>
          <option *ngFor="let team of teams_stage1" [ngValue]="team">
            {{ team.name }}
          </option>
        </select>
        <button
          class="bt-primary btn-sm"
          (click)="moveWinnerToStage2()"
          [disabled]="teams_stage2.length >= 2"
        >
          Move to Semifinal
        </button>
      </div>
      <div class="centered" *ngIf="teams_stage2.length == 2">
        <select
          class="form-select form-select me-2"
          aria-label="Select winner for Stage 2"
          id="winnerSelectStage2"
          [(ngModel)]="selectedWinnerStage2"
          [disabled]="winner.length >= 1"
          name="winnerSelectStage2"
        >
          <option value="" disabled selected>Select Winner</option>
          <option *ngFor="let team of teams_stage2" [ngValue]="team">
            {{ team.name }}
          </option>
        </select>
        <button
          class="bt-primary"
          (click)="moveToWinner()"
          [disabled]="winner.length >= 1"
        >
          Move to Winner
        </button>
      </div>
    </div>
  </section>
  <section class="centered">
    <!-- stage 1 -->
    <app-keys [teams_stage1]="teams_stage1"></app-keys>
    <!-- stage 2 -->
    <app-keys [teams_stage1]="teams_stage2"></app-keys>
    <!-- winner -->
    <div class="d-flex flex-column" *ngFor="let team of winner">
      <div class="container-key centered">
        <p class="medium-text-bold white-1">
          {{ team.name }}
          <i class="fa fa-trophy" style="color: rgb(255, 255, 54)"></i>
        </p>
      </div>
    </div>
  </section>
</div>
